Repository micronaut-projects/micronaut-core, pull requests merged in 2019-03, with the labels that each got.

#1347 Convert KeyType
  security-jwt/src/main/java/io/micronaut/security/token/jwt/converters/KeyTypeConverter.java
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/signature/jwks/JwksSignatureConfigurationSpec.groovy
Labels: relates-to: jwt, relates-to: security

#1349 return a list of JWK in JwkProvider
  security-jwt/src/main/java/io/micronaut/security/token/jwt/endpoints/JwkProvider.java
  security-jwt/src/main/java/io/micronaut/security/token/jwt/endpoints/KeysController.java
  security-jwt/src/main/java/io/micronaut/security/token/jwt/signature/rsa/RSASignatureGenerator.java
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/endpoints/KeysControllerSpec.groovy
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/signature/jwks/JwksSpec.groovy
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/signature/jwks/JwsSignatureSpec.groovy
Labels: relates-to: jwt, relates-to: security

#1348 Keys endpoint should return a JSON object with keys entry
  security-jwt/src/main/java/io/micronaut/security/token/jwt/endpoints/KeysController.java
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/endpoints/KeysControllerWithMultipleKeysSpec.groovy
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/endpoints/KeysControllersWithNoJWKSpec.groovy
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/endpoints/MockJwkProviderOne.groovy
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/endpoints/MockJwkProviderTwo.groovy
Labels: relates-to: jwt, relates-to: security

#1350 Bump up Nimbus JOSE JWT to 7.0.1
  security-jwt/build.gradle
Labels: relates-to: jwt, relates-to: security

#988 Clarification to JWT docs
  http-client/src/test/groovy/io/micronaut/http/client/BasicAuthSpec.groovy
  security-jwt/src/test/groovy/io/micronaut/security/token/propagation/TokenPropagationSpec.groovy
  src/main/docs/guide/security/authenticationStrategies/basicAuth.adoc
  src/main/docs/guide/security/authenticationStrategies/jwt/reader/bearerToken.adoc
Labels: type: docs

#1360 Extract jwk validation to its own bean
  security-jwt/src/main/java/io/micronaut/security/token/jwt/signature/jwks/DefaultJwkValidator.java
  security-jwt/src/main/java/io/micronaut/security/token/jwt/signature/jwks/JwkValidator.java
  security-jwt/src/main/java/io/micronaut/security/token/jwt/signature/jwks/JwksSignature.java
Labels: relates-to: jwt, relates-to: security

#1374 Jwt token validator utils methods
  security-jwt/src/main/java/io/micronaut/security/token/jwt/validator/JwtTokenValidator.java
Labels: relates-to: jwt, relates-to: security

#1398 Extract Authentication from JWT to its own bean
  security-jwt/src/main/java/io/micronaut/security/token/jwt/validator/AuthenticationJWTClaimsSetAdapter.java
  security-jwt/src/main/java/io/micronaut/security/token/jwt/validator/DefaultJwtAuthenticationFactory.java
  security-jwt/src/main/java/io/micronaut/security/token/jwt/validator/JwtAuthenticationFactory.java
  security-jwt/src/main/java/io/micronaut/security/token/jwt/validator/JwtTokenValidator.java
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/ConfigurationFixture.groovy
  security-jwt/src/test/groovy/io/micronaut/security/token/jwt/validator/AuthenticationWithJwtGeneratorSpec.groovy
  security/src/main/java/io/micronaut/security/token/TokenAuthenticationFactory.java
Labels: relates-to: jwt, relates-to: security

#1441 Extract Default Version Provider to its own bean
  router/src/main/java/io/micronaut/web/router/version/ConfigurationDefaultVersionProvider.java
  router/src/main/java/io/micronaut/web/router/version/DefaultVersionProvider.java
  router/src/main/java/io/micronaut/web/router/version/RouteVersionFilter.java
  router/src/test/groovy/io/micronaut/web/router/version/ConfigurationDefaultVersionProviderSpec.groovy
  router/src/test/groovy/io/micronaut/web/router/version/DefaultVersionedUrlFilterSpec.groovy
Labels: relates-to: versioning
